body, h1, h2, p {
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px 0;
  }
  
  header h1 {
	font-size: 35px;

  }
  
     
  .menu {
	display: inline-block;
	flex-flow: row wrap;
	justify-content: center;
	padding: 20px;
	margin:5px 0;


  }
  
.menu-items {
	width: 33%;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	border: 2px solid black;
	box-sizing: border-box;
	display: inline-block;
  }


.menu-items2 {
	width: 33%;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	border: 2px solid black;
	box-sizing: border-box;
	display: inline-block;
  }


.menu-items3 {
	width: 33%;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	border: 2px solid black;
	box-sizing: border-box;
	display: inline-block;
  }
  
  .menu-items h2 {
	color: #e74c3c;
	display:inline-block; 
	box-sizing: border-box;
  }
  
  .menu-items p {
	margin-top: 10px;

  }  
  
  @media screen and (max-width: 768px) {
	.menu-items {
	  width: 100%;
	}
  }
  